.style {

background: white;

}

fieldset{
  margin-bottom: 15px;
  text-align: center;
}
form{
  width: 40%;
    margin: 0 auto;
}

body {
  background: #dcd7d7;
}

/* imager du header */
.imgcenter {
width: 100%;
}
/* fin image du header */

/* couleur de la premiere question */
.textcouleur
{
background: black;
color: white;

}
/*fin couleur de la premiere question */

/* couleur secondaire */
.textcouleur2
{
  background: #3f3e3e;
  color: white;
}
/* fin couleur secondaire */
